.project-title {
  font-weight: bold;
  font-size: 1.5rem;
  
  display: flex;
  align-items: center;
  height: 100%;
}

.timer-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  color: inherit;
}

.header-icon {
  height: 18px;
}

.github-icon {
  height: 24px;
  margin-left: 10px;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.customization-anchor {
  position: relative;
  anchor-name: --customization;
}

.customization-options {
  position: absolute;
  position-anchor: --customization;
  position-area: bottom left;
  z-index: 999;
  
  display: none;
  flex-direction: column;
  
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  overflow: hidden;
}

.dark-mode .customization-options {
  background: #1b1b1b;
  box-shadow: 0 0 20px rgba(20, 20, 20, 0.5);
}

.is-customizing .customization-options {
  display: flex;
}

.customization-options button {
  background: none;
  border: none;
  padding: 12px 22px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.customization-options button:hover {
  background: rgba(0,0,0,0.15);
}

.dark-mode .customization-options button:hover {
  background: rgba(255,255,255,0.15);
}

.customization-options button span {
  margin-left: 6px;
}

.modal-container {
  position: fixed;
  z-index: 1000;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.75);
}

.editing-color .modal-container {
  display: flex;
}

.modal-color {
  background: #FDFDFD;
  padding: 16px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark-mode .modal-color {
  background: #121212;
  color: #FDFDFD;
}

.color-message {
  margin-bottom: 16px;
}

.selected-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.color-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-buttons {
  font-size: 14px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}