.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  background: #FDFDFD;
  color: #121212;
}

.dark-mode {
  background: #121212;
  color: #FDFDFD;
}

.top-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}