@font-face {
  src: url("../fonts/calibri.ttf");
  font-family: Calibri;
}

body {
  margin: 0;
  font-family: Calibri;
}

span {
  display: inline-block;
}

.dark-mode span {
  color: #FDFDFD;
}

p {
  margin: 0;
}

input {
  background: transparent;
  border: 1px solid #121212;
  border-radius: 4px;
}

a {
  color: inherit;
}